* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: whitesmoke;
}
#container {
    width: 1000px;
    height: 420px;
    border: solid rgb(190, 190, 190);
    margin: 0 auto;
    opacity: 75%;
}
h1 {
    text-align: center;
}
#h3Header {
    text-align: center;
}
.mathButton {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    color: black;
}
.numberInput {
    margin-bottom: 20px;
    font-size: 140%;
    color: black;
}
#resultBox {
    width: 250px;
    height: 40px;
    border: 2px solid rgb(0, 0, 0);
    background: rgb(50, 204, 19);
    margin: 0 auto;
    margin-top: 40px;
    font-size: xx-large;
    text-align: center;
}
body {
    background-image: url(calculator_bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top left;
}